<div class="container mt-5">
  <h1 class="mb-3">Login</h1>

  <form action="/sessions" method="post" class="mt-4">
    
    <div class="mb-3">
      <label for="email_input" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email_input" required>
    </div>
    
    <div class="mb-3">
      <label for="password_input" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password_input" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  
  </form>

</div>
