<div class="container mt-5">
  <h1 class="mb-4">Places</h1>

  <div class="d-flex justify-content-start mb-3">
    <a href="/places/new" class="btn btn-primary">New Place</a>
  </div>

  <ul class="list-group mt-4">
  <% for place in @places %>
    <li class="list-group-item">
      <a href="/places/<%= place["id"] %>" class="stretched-link"><%= place["name"] %></a>
    </li>
  <% end %>
  </ul>

</div>




